<div class="form-group">
  <label class="control-label col-sm-3" for="">Type</label>
  <div class="controls col-sm-9">
    <select class="form-control" ng-model="secondary.type">
      <option>Visual Talent</option>
      <option>Voice Over</option>
      <option>Other</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Name</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.name" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Role</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.role" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Term</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.term" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Media</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.media" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Area</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.area" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Agent</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.agent" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="">Fee</label>
  <div class="controls col-sm-9">
    <input type="text" ng-model="secondary.fee" class="form-control">
  </div>
</div>